.footer {
    background-color: #15212a;
    padding: 5px 0 25px 0;
}

.footer__row {
    display: flex;
    justify-content: space-between;
}

.footer__nav-column li {
    margin-top: 15px;
}

.footer__nav-column li a {
    font-family: "Open Sans";
    font-size: 1.14rem;
    color: #808080;
    line-height: 1.42857143;
}

.footer__nav-title {
    font-family: "Open Sans ";
    font-weight: 700;
    color: #fff;
    font-size: 1.3rem;
}

.footer__copyright {
    font-family: "Open Sans";
    font-size: 1rem;
    color: #808080;
    padding-top: 10px;
    padding-bottom: 25px;
    max-width: 19rem;
    line-height: 1.42857143;
}

.footer__searchbar {
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 40rem;
}

.footer__searchbar input {
    width: 100%;
    font-size: 1rem;
    padding: 13px 20px 12px 30px;
    font-family: "Open Sans";
    color: #000;
    border: solid 1px #efefef;
    border-radius: 50px;
}

.footer__searchbar-button {
    position: absolute;
    background-color: #fdd700;
    color: #000;
    border-radius: 50px;
    font-size: 1rem;
    line-height: 1;
    margin: 0;
    padding: 16px 26px;
    right: 0;
}

.footer__text {
    padding-top: 20px;
    text-align: center;
    font-size: 1rem;
    font-family: "Open Sans";
    color: #808080;
    margin-bottom: 40px;
}

.footer__lower-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.design {
    color: #808080;
    font-family: "Open Sans";
    font-size: 1rem;
}

.payment-list {
    display: flex;
    align-items: center;
}

.payment-list p {
    color: #808080;
    font-family: "Open Sans";
    font-size: 1rem;
}

.payment-list li {
    margin-left: 10px;
}

@media (max-width: 1135px) {
    .footer__searchbar-button {
        padding: 15px 27px;
    }
}

@media (max-width: 767px) {
    .footer__row {
        flex-wrap: wrap;
    }

    .footer__copyright {
        margin-top: 3rem;
    }

    .footer__nav-title {
        font-size: 2rem;
    }

    .footer__nav-column a {
        font-size: 4rem;
        text-align: center;
    }
}